<!DOCTYPE html>
<html>

  <head>
    
      <!-- Table saw references -->
      <link rel="stylesheet" href="js/libs/tablesaw/stackonly/tablesaw.stackonly.css">

    <link data-require="ng-table@*" data-semver="0.3.0" rel="stylesheet" href="http://cdn.jsdelivr.net/angular.ngtable/0.5.4/ng-table.css" />

    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

      <style type="text/css">
        @media (max-width: 700px) {

                .tablesaw-stack.table-bordered>tbody>tr>td {
/*                    border: 0px  none transparent; */
                    padding: 0px 2px 0px 4px;
                }
/*
                .tablesaw-stack.table tbody>tr>td {
                    border-top: 0px  none transparent; 
                }
*/

        }
          table tr.selected {
              background-color: orange;
              
          }
      </style>
    
  </head>

  <body ng-app="main" ng-controller="DemoCtrl">
    <div class="container">
          <div class="row">
            <div class="col-sm-12">
                <br />
                <table ng-table="tableParams" class="table table-bordered table-striped tablesaw tablesaw-stack" data-tablesaw-mode="stack">
                    <thead>
                        <tr>
                            <th class="sortable" ng-class="{
                                'sort-asc': tableParams.isSortBy('name', 'asc'),
                                'sort-desc': tableParams.isSortBy('name', 'desc')
                              }"
                                ng-click="tableParams.sorting({'name' : tableParams.isSortBy('name', 'asc') ? 'desc' : 'asc'})">
                                <div>Name</div>
                            </th>                        
                            <th class="text-center sortable" ng-class="{
                                'sort-asc': tableParams.isSortBy('age', 'asc'),
                                'sort-desc': tableParams.isSortBy('age', 'desc')
                              }"
                                ng-click="tableParams.sorting({'age' : tableParams.isSortBy('age', 'asc') ? 'desc' : 'asc'})">
                                <div>Age</div>
                            </th>
                            <th class="text-center">Gender</th>
                        </tr>
                    </thead>
                    <tbody>
						<tr ng-repeat="user in $data">
							<td data-title="'Name'" sortable="'name'">
								<a href="#"><i class="fa fa-plus-circle"></i></a>
								{{user.name}}
								<br>
								Another row
							</td>
							<td data-title="'Age'" sortable="'age'">
								{{user.age}}

								<input type="text" class="form-control">
							</td>
							<td data-title="'With default braces'">
								{{user.age}}
							</td>
							<br>
							
						</tr>
                    </tbody>
                </table> 

            </div>
        </div>
    </div>
    <!-- End Container-->


<!-- Bootstrap core JavaScript
            ================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <script src="http://cdn.jsdelivr.net/angular.ngtable/0.5.4/ng-table.js"></script>
<!--    <script data-require="ng-table-export@0.1.0" data-semver="0.1.0" src="http://bazalt-cms.com/assets/ng-table-export/0.1.0/ng-table-export.js"></script>-->
    <!-- jQuery CDN --> 
    <script src="http://code.jquery.com/jquery.js"></script> 
    <!-- Latest compiled and minified JavaScript --> 
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
    <script src="js/libs/tablesaw/stackonly/tablesaw.stackonly.js"></script>

      
    <script type="text/javascript">

        var app = angular.module('main', ['ngTable'])
        .controller('DemoCtrl', function($scope, ngTableParams, $filter) {

            var data = [{name: "Moroni", age: 50},
                {name: "Tiancum", age: 43},
                {name: "Jacob", age: 27},
                {name: "Nephi", age: 29},
                {name: "Enos", age: 34},
                {name: "Tiancum", age: 43},
                {name: "Jacob", age: 27},
                {name: "Nephi", age: 29},
                {name: "Enos", age: 34}];

            $scope.tableParams = new ngTableParams({
                page: 1,            // show first page
                count: 10           // count per page
            }, {
                total: data.length, // length of data
                getData: function($defer, params) {
                    // use build-in angular filter
                    var orderedData = params.sorting() ?
                            $filter('orderBy')(data, params.orderBy()) :
                            data;
                    $defer.resolve(orderedData.slice((params.page() - 1) * params.count(), params.page() * params.count()));
                }
            });

			
        });  
    
	</script>  

</body>
</html>

