<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="bootstrap/assets/ico/favicon.png">

    <title>DE - My Account - table validation</title>

    <!-- Reference to DEB Styleguide customized Bootstrap core CSS -->
    <link href="http://torwed50:92/StyleGuide-Boilerplate/Content/bootstrap/bootstrap.css" rel="stylesheet">
    <!-- Reference to DEB Styleguide PATTERNS CSS -->
    <link href="http://torwed50:92/StyleGuide-Boilerplate/Content/sass/main.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <!--    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Bootstrap validator -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css" />


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <style type="text/css">
    </style>
</head>

    <body class="body-unauth">
        <div class="container-fluid">

        <div id="registerContainer">
            <div class="row">
                <div class="col-xs-12">
                    <h1>MyAccount table validation</h1>
                </div>
            </div>
			<div class="row">
				<div class="col-sm-12">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Volume</th>
								<th>Price</th>
								<th>Option</th>
								<th>Percent<br><label><input type="checkbox">Apply all</label></th>
								<th>Value 1</th>
								<th>value 2</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>2000</td>
								<td>$2.95</td>
								<td><select id="selPercent" class="form-control">
									<option value="25">25%</option>
									<option value="50">50%</option>
									<option value="75">75%</option>
									<option value="custom">Custom</option>
									<option value="remaining">Remaining</option>
									</select></td>
								<td><input id="txtPercent" type="number" class="form-control">first value</td>
								<td><input id type="number" class="form-control">second value</td>
								<td><input type="number" class="form-control">second value</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
           
            <div class="row">
                <div class="col-sm-12">

                    <div>
                        <div class="alert alert-danger hidden" id="de-form-submission-message"><i class="fa fa-exclamation-circle"></i>&nbsp;{{errormsg}}</div>
                        <form role="form" name="registerForm" id="registerForm">
                            <p>View and manage your Direct Energy Business accounts any time of the day.</p>
                            <p>To access My Account, complete the information below using your account number and zip code from your Direct Energy Business invoice</p>
                            <h4 class="top20">Your Information</h4>

                            <div class="form-group">
                                <label class="control-label" for="inputFirstname">First name</label>
                                <input type="text" class="form-control" name="inputFirstname" id="inputFirstname">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="inputLastname">Last name</label>
                                <input type="text" class="form-control" name="inputLastname" id="inputLastname">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="inputUsername">Email address / User name</label>
                                <input type="text" class="form-control" name="inputUsername" id="inputUsername">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="inputPassword">Password</label>
                                <input type="password" class="form-control" name="inputPassword" id="inputPassword">
                                <div id="pwd_strength_wrap_well" class="well">
                                    <div id="passwordDescription"></div>
                                    <div id="passwordStrength" class="strength{{strength}}"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="inputConfirmPassword">Confirm Password</label>
                                <input type="password" class="form-control" name="inputConfirmPassword" id="inputConfirmPassword">
                            </div>

                            <div class="row spacer10"></div>

                            <h4>Account Information</h4>
                            <p>If you have multiple accounts, you can register using any account number. You will have access to all accounts after you complete registration</p>
                            <div class="alert alert-success" ng-show="customerExists==1"><i class="fa fa-check-circle" ng-show="customerExists==1"></i></div>
                            <div class="alert alert-danger" ng-show="customerExists==-1"><i class="fa fa-exclamation-circle" ng-show="customerExists==-1"></i></div>
                            <div class="form-group">
                                <label class="control-label" for="inputAccountnumber">Account number</label>
                                <input type="text" class="form-control" name="inputAccountnumber" id="inputAccountnumber">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="inputZipcode">Zip code</label>
                                <input type="text" class="form-control" name="inputZipcode" id="inputZipcode">
                            </div>                            

                            <div class="btn-toolbar text-right">
                                <a href="#" class="btn btn-link">Cancel</a>
                                <button type="submit" class="btn btn-primary btn-lg" id="RegisterButton" value="Register">Register Now</button>
                            </div>

                        </form>
                    </div>

                </div>
                
            </div>
<style type="text/css">
    .de-trigger-weighted-avg > div {
        background-color: #cccccc;
    }
    .de-trigger-weighted-avg div:first-child .input-group {
        background-color: #fbbb96;
    }
    .de-trigger-weighted-avg div:first-child .input-group label {
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        padding-top: 10px;
    }
    .de-trigger-weighted-avg div:last-child .input-group {
        padding-bottom: 1rem;
        padding-top: 10px;
    }
    .de-trigger-weighted-avg .input-group-addon{
        background-color: #F05D21;
        border-radius: 0;
    }
            </style>

			<div class="row top10 de-trigger-weighted-avg">
				<div class="col-sm-6">

<!--
					<div class="checkbox">
						<label><input type="checkbox" ng-click="showWeightedAverage()" ng-model="applyWeightedAverage" />Apply Buy at Market Weighted Average Price to this request&nbsp;<a popover="@Html.Action("HelpText", "Sitecore", new { contentId = Constants.SitecoreCalloutIdSettings.GetSettingByName("Trigger-Hover-Buy-Market").Result })" popover-trigger="mouseenter" popover-placement="right" popover-append-to-body="true"><i class="fa fa-question-circle"></i></a></label>
					</div>
-->

					<div class="input-group input-group-lg">
						<span class="input-group-addon">
							<input type="checkbox" id="de-trigger-checkbox-weighted-average" ng-click="showWeightedAverage()" ng-model="applyWeightedAverage" />
						</span>
						<label for="de-trigger-checkbox-weighted-average">Apply Buy at Market Weighted Average Price to this request&nbsp;<a popover="@Html.Action("HelpText", "Sitecore", new { contentId = Constants.SitecoreCalloutIdSettings.GetSettingByName("Trigger-Hover-Buy-Market").Result })" popover-trigger="mouseenter" popover-placement="right" popover-append-to-body="true"><i class="fa fa-question-circle"></i></a></label>
					</div><!-- /input-group -->
				</div>
				<div class="col-sm-6">
					<div class="input-group input-group-lg" ng-show="applyWeightedAverage">
						<label><strong>Weighted Average Buy at Market Price&nbsp;${{weightedAverage | number:3}}</strong></label>
					</div>
				</div>
			</div>
        </div>



    </div>
    <!-- End Container fluid-->
    <footer class="de-myact-footer">
        <div class="container-fluid">
            <!-- footer container -->
            <div class="row">
                <div class="de-copyright col-xs-12">&copy;2014 Direct Energy Marketing Limited, a subsidiary of <a href="#">Centrica</a> plc. Direct Energy and the Lightning Bolt design are either registered trademarks or trademarks of Direct Energy Marketing Limited in the United States and/or Canada. Use of such trademarks has been licensed by Direct Energy Marketing Limited to its various subsidiaries and affiliates. Direct Energy Business, LLC (DC PSC License No. EA-04-4-4; MD PSC License Nos. IR-437; IR-719; IR-791; PUCT Cert. No. 10011). Products and services vary depending on region or market.
                </div>
            </div>
        </div>
    </footer> 

    <!-- Bootstrap core JavaScript
            ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery CDN -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- jquery password strength -->
    <script src="js/libs/jquery.pwstrength.bootstrap/dist/pwstrength-bootstrap-1.2.0.js"></script>

    <!-- Bootstrap validator -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>

    <script type="text/javascript">
        // Form validation functions

        $(document).ready(function () {

            /* custom validator function. Used for acccount number validation */
            $.fn.bootstrapValidator.validators.password = {
                validate: function(validator, $field, options) {
                    var value = $field.val();
                    if (value === '') {
                        return true;
                    }

                    if (value.length < 8) {
                        return false;
                    }
                    if (value === value.toLowerCase()) {
                        return false;
                    }
                    if (value === value.toUpperCase()) {
                        return false;
                    }
                    if (value.search(/[0-9]/) < 0) {
                        return false;
                    }

                    return true;
                }
            };            
            
            
            
            $('#registerForm').bootstrapValidator({
                // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
				feedbackIcons: {
                    valid: 'fa fa-check fa-lg',
                    invalid: 'fa fa-times',
                    validating: 'fa fa-refresh'                    
/*		            required: 'glyphicon glyphicon-asterisk',
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
*/				},

                
                fields: {
                    inputFirstname: {
                        message: 'First name is not valid',
                        validators: {
                            notEmpty: {
                                message: 'First name is required'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9]+$/,
                                message: 'First name can only consist of alphabetical and number'
                            }
                        }
                    },
                    inputLastname: {
                        message: 'Last name is not valid',
                        validators: {
                            notEmpty: {
                                message: 'Last name is required'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9]+$/,
                                message: 'Last name can only consist of alphabetical and number'
                            }
                        }
                    },
                    inputUsername: {
                        message: 'User name is not valid',
                        validators: {
                            notEmpty: {
                                message: 'User name is required'
                            },
                            emailAddress: {
                                message: 'User name is not a valid email address'
                            },
                            different: {
                                field: 'inputPassword',
                                message: 'User name and Password cannot be the same'
                            }
                        }
                    },
                    inputPassword: {
                        message: 'Password is not valid',
                        validators: {
                            notEmpty: {
                                message: 'Password is required'
                            },
                            different: {
                                field: 'inputUsername',
                                message: 'Password cannot be the same as user name'
                            },
                            stringLength: {
                                min: 8,
                                message: 'Password must have at least 8 characters'
                            },
                            identical: {
                                field: 'inputConfirmPassword',
                                message: 'Password and confirm password are not the same'
                            }
                        }
                    },
                    inputConfirmPassword: {
                        validators: {
                            notEmpty: {
                                message: 'Confirm password is required'
                            },
                            different: {
                                field: 'inputUsername',
                                message: 'Password cannot be the same as user name'
                            },
                            stringLength: {
                                min: 8,
                                message: 'Password must have at least 8 characters'
                            },
                            identical: {
                                field: 'inputPassword',
                                message: 'Password and confirm password are not the same'
                            }
                        }
                    },
                    inputAccountnumber: {
                        validators: {
                            notEmpty: {
                                message: 'Account number is required'
                            },
                            stringLength: {
                                min: 8,
                                message: 'Account number must have at least 8 characters'
                            }
                        }
                    },
                    inputZipcode: {
                        validators: {
                            notEmpty: {
                                message: 'Zip code is required'
                            },
                            zipCode: {
                                country: 'US',
                                message: 'The value is not valid US zip code'
                            }
                        }
                    },
                    chkReadtac: {
                        validators: {
                            notEmpty: {
                                message: 'You must accept the Terms and conditions.'
                            }
                        }
                    }

                }
            });
        });




         // displaying form submission error messages
        $('#RegisterButton').click(function () {
            if ($('#inputPassword').val() == 'error') {
                $('#de-form-submission-message').removeClass('hidden')
                return false;
            };
        });

         // password strength meter
        $(document).ready(function () {

            $('#inputPassword').pwstrength({
                bootstrap3: true,
                ui: {
                    showVerdictsInsideProgressBar: true,
                    container: "#de-pwd-strength",
                    viewports: {
                        progress: ".pwstrength_viewport_progress"
                    }
                }

            });
        });
    </script>
</body>

</html>
